.divvv{
  margin-left: 5px;
}

button{
  padding: 8px 25px;
  font-size: 1.5rem;
  color: white;
  background-color: aqua;
  border: none;
  border-radius:10px;
  margin-right: 15px;
  transition: all .3s ease;
}

button:hover{
  background-color:  rgb(59, 59, 59);
  color: aqua;
  transform:scale(1.1);
  
}